<?xml version="1.0"?>
<!--
/**
 * Webkul Software.
 *
 * @category  Webkul
 * @package   Webkul_MagicSlideShow
 * @author    Webkul
 * @copyright Copyright (c) 2010-2017 Webkul Software Private Limited (https://webkul.com)
 * @license   https://store.webkul.com/license.html
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Webkul_MagicSlideShow::magicslideshow" title="Magic Slide Show" sortOrder="10" >
                    <resource id="Webkul_MagicSlideShow::sliderimages" title="Manage Silder Images" sortOrder="10" />
                    <resource id="Webkul_MagicSlideShow::group" title="Manage Slider Group" sortOrder="10" />
                </resource>
            </resource>
        </resources>
    </acl>
</config>