<?xml version="1.0"?>
<!--
/**
 * Webkul Software.
 *
 * @category   Webkul
 * @package    Webkul_MagicSlideShow
 * @author     Webkul Software Private Limited
 * @copyright  Copyright (c) 2010-2017 Webkul Software Private Limited (https://webkul.com)
 * @license    https://store.webkul.com/license.html
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <virtualType name="Webkul\MagicSlideShow\Model\ResourceModel\Group\Grid\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">webkul_magicslideshow_group</argument>
            <argument name="resourceModel" xsi:type="string">Webkul\MagicSlideShow\Model\ResourceModel\Group</argument>
        </arguments>
    </virtualType>
    <virtualType name="Webkul\MagicSlideShow\Model\ResourceModel\Sliderimages\Grid\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">webkul_magicslideshow_images</argument>
            <argument name="resourceModel" xsi:type="string">Webkul\MagicSlideShow\Model\ResourceModel\Sliderimages</argument>
        </arguments>
    </virtualType>
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="magicslideshow_sliderimages_list_data_source" xsi:type="string">Webkul\MagicSlideShow\Model\ResourceModel\Sliderimages\Grid\Collection</item>
                <item name="magicslideshow_group_list_data_source" xsi:type="string">Webkul\MagicSlideShow\Model\ResourceModel\Group\Grid\Collection</item>
            </argument>
        </arguments>
    </type>
</config>