<?xml version="1.0"?>
<!-- /**
 * events.xml
 *
 * @category  Webkul
 * @package   Webkul_MagicSlideShow
 * @author    Webkul
 * @copyright Copyright (c) 2010-2017 Webkul Software Private Limited (https://webkul.com)
 * @license   https://store.webkul.com/license.html
 */ -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="backend_block_widget_grid_prepare_grid_before">
        <observer name="webkul_magicslideshow_backend_block_widget_grid_prepare_grid_before" instance="Webkul\MagicSlideShow\Observer\Grid" />
    </event>
</config>